/* 移动页码到左上角并增加宽度 */
.reveal .progress {
  position: absolute;
  bottom: 0.5rem; /* 调整垂直位置 */
  left: 0.5rem; /* 调整水平位置 */
  width: 3rem; /* 增加宽度，根据需要进行调整 */
}

.reveal {
  box-sizing: border-box; /* 确保边框包含在整个容器尺寸内 */
  border: 5px solid #4B3C39; /* 边框颜色调整为深棕色，类似《Disenchantment》中的建筑颜色 */
  background-color: #F4E7D3; /* 背景色改为浅蓝色，模仿动画中的白天天空颜色 */
}

/* 在幻灯片容器外部添加一个额外的边框 */
.reveal::before {
  content: ''; /* 伪元素需要内容，即使是空的 */
  position: absolute; /* 绝对定位，相对于其最近的定位父元素 */
  top: 5px; /* 将伪元素向上移动，与原始边框贴合 */
  left: 5px; /* 将伪元素向左移动，与原始边框贴合 */
  right: 5px; /* 将伪元素向右移动，与原始边框贴合 */
  bottom: 5px; /* 将伪元素向下移动，与原始边框贴合 */
  border: 3px dashed #8D695A; /* 边框颜色改为淡棕色，仿照动画中的亮色调边框 */
  box-sizing: border-box; /* 边框内计算宽高 */
  pointer-events: none; /* 防止伪元素影响交互 */
  z-index: 9; /* 确保伪元素在原始边框之下 */
}

.reveal h1, .reveal h2, .reveal h3 {
  color: #4B3C39; /* 标题颜色改为浅绿色，模仿动画中的植被色彩 */
}

.reveal li {
  color: #8D695A; /* 字体颜色改为浅米色，易于在浅色背景上阅读 */
  text-align: left;
  font-size: 36px;
  margin-top: 20px; /* 控制标题与上面内容的间距 */
  margin-left: 20px;
}

/* 正文文字 */
.reveal p {
  color: #8D695A; /* 字体颜色改为浅米色，与列表项保持一致 */
  font-size: 36px; /* 根据需要调整字体大小 */
  text-align: left;
  margin-top: 20px; /* 控制标题与上面内容的间距 */
}
